.form-submit-button {
    border: none;
    border-radius: 40%;
    background-color: #EDF0F4;
    box-shadow: -1px -1px 7px #f5f5f5, -5px -4px 17px #ffffff, 1px 2px 5px #a0b0c5, 4px 6px 22px #c0cad8;
    border-radius: 2vh;
    width: 20vw;
    height: 4vw;
    font-size: 1.75vw;
    text-align: center;
    display: block;
    cursor: pointer;
    font-family: 'Lato';
    font-style: italic;
    font-weight:bolder;
    color: #5a6794;
    cursor: pointer;
}

.form-submit-button:active{
    background: #EDF0F4;
    box-shadow: inset -1px -1px 7px #F5F5F5, inset -5px -4px 17px #FFFFFF, inset 1px 2px 5px #A0B0C5, inset 4px 6px 22px #C0CAD8;
    border-radius: 10px;    
}

.form-input {
    min-width: 300px;
    min-height: 50px;
}

.success-modal-title{
    color: #5a6794;
    font-style: italic;
    font-weight: 300;
}

.confession-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.confession-create-title {
    text-align: center;
    line-height: 4vh;
}

.confession-form-title{
    text-transform: lowercase;
    font-style: italic;
}

.confession-modal-button{
    background: #EDF0F4;
    box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
    border-radius: 10px;
    font-size: 14px;
    border-radius: 2vh;
    width: 15vw;
    height: 4vw;
    text-align: center;
    display: block;
    cursor: pointer;
}

.confession-modal-button:active{
    background: #EDF0F4;
    box-shadow: inset -1px -1px 7px #F5F5F5, inset -5px -4px 17px #FFFFFF, inset 1px 2px 5px #A0B0C5, inset 4px 6px 22px #C0CAD8;
    border-radius: 10px;    
}

.confession-text-area {

    border: none;
    background-color: transparent;
    box-shadow: inset -1px -1px 7px #F5F5F5, inset -5px -4px 17px #FFFFFF, inset 1px 2px 5px #A0B0C5, inset 4px 6px 22px #C0CAD8;
    border-radius: 10px;
    width: 50vh;
    /* width: 100%; */
    text-align: center;
    resize: none;
    height: 35vh;
    border-radius: 2vh;
    text-transform: none;
    font-style: italic;
    padding: 2vw;
}

.confession-mood-dropdown {
    background-color: #edf0f4;
    box-shadow: -1px -1px 7px #f5f5f5, -5px -4px 17px #ffffff, 1px 2px 5px #a0b0c5, 4px 6px 22px #c0cad8;
    font-size: 1.75vw;
    border-radius: 2vh;
    width: 20vw;
    height: 4vw;
    text-align: center;
    border: none;
    font-style: italic;
    color: #5a6794;
    cursor: pointer;
    margin-top: 3vw;
}

.confession-mood-dropdown:active{
    background: #EDF0F4;
    box-shadow: inset -1px -1px 7px #F5F5F5, inset -5px -4px 17px #FFFFFF, inset 1px 2px 5px #A0B0C5, inset 4px 6px 22px #C0CAD8;
    border-radius: 10px;
}

.confession-mood-dropdown .select select {
    background-color: #5a6794;
}


.confession-create-form {
    display: contents;

}

.errors {
    color: red;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

.confession-modal-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.success-modal {
    display: block;
    position: fixed;
    top: 25vh;
    left: 30vw;
    width: 40vw;
    height: 20vw;
    font-size: 2vw;
    background: #EDF0F4;
    border-radius: 2vw;
    padding: 2.5vw;
    text-align: center;
    display: grid;
    align-items: center;
}


.success-button-container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 950px) {

    .confession-mood-dropdown {
        font-size: 5vw;
        width: 30vh;
        height: 6vh;
        border-radius: 2.5vh;
        margin-top: 3vw;
    }

    .confession-text-area {
        width: 90vw;
    }

    .confession-modal-button {
        width: 30vw;
        height: 12vw;
        background: #EDF0F4;
        box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
        border-radius: 10px;
    }
    .success-modal {
        top: 35vh;
        left: 10vw;
        width: 80vw;
        height: 50vw;
        font-size: 5vw;
    }
    .form-submit-button {
        font-size: 3vh;
        width: 35vw;
        height: 5.5vh;
    }
}
