.form-submit-button {
    border: none;
    border-radius: 40%;
    /* box-shadow: 2.55vh 2.55vh 2.88vh #d9dade, -2.55vh -2.55vh 1.52vw #ffffff; */
    font-size: 2vw;
    border-radius: 2vh;
    width: 11vw;
    height: 4vw;
    text-align: center;
    display: block;
    cursor: pointer;
    font-family: 'Lato';
    font-style: italic;
    font-weight:bolder;
    color: #5a6794;
    cursor: pointer;

}

.confession-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.confession-create-title{
    text-align: center;
}

.confession-text-area{
    text-align: center;
    resize: none;
    width: 100%;
    height: 150px;
    background: transparent;
    border: none;
    border-radius: 2vh;
    text-transform: lowercase;
    font-style: italic;
    /* letter-spacing: ; */
    box-shadow: 2.55vh 2.55vh 2.88vh #adadad;
}

.confession-textarea-container{
    width: 100%;
}
.confession-mood-dropdown{
    background: transparent;
    font-size: 48px;
    border: none;
    font-style: italic;
      color: #5a6794
}

.mood-input-container{
    margin-bottom: 10vh;
}

.confession-create-form{
    display: contents;
}