.confession-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.loading-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-title{
    font-weight: 400;
    font-style: italic;
}

.confession-body {
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Lora', serif;
    text-transform: none;
    font-size: 1.75vw;
    font-style: italic;
    text-align: center;
    overflow: hidden ;
}

.circle-container {
    display: flex;
    justify-content: center;
    padding-top: 5vw;

}

svg {
    width: auto;
    height: auto;
}

.logo-timer {
    width: 10vw;
    padding-bottom: 3vh;
    animation: bobble 1s ease-in infinite;
    /* animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); */
    animation-direction: alternate;
}

@keyframes bobble {
    from {
        transform: translate3d(0,0,0);
    }
    to {
        transform: translate3d(0, 1.5vh, 0);
    }
}

@media screen and (max-width: 950px) {
    .logo-timer {
        width: 30vw;
    }
    
    .confession-body {
        font-size: 4vw;
    }

}