.confession-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.loading-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-title{
    font-weight: 400;
    font-style: italic;
}

.confession-body {
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Lora', serif;
    text-transform: none;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}