.topic-form-title {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 6vw;
}

.topic-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.topic-form-text {
  border: none;
  background-color: transparent;
  box-shadow: inset -1px -1px 7px #f5f5f5, inset -5px -4px 17px #ffffff,
    inset 1px 2px 5px #a0b0c5, inset 4px 6px 22px #c0cad8;
  border-radius: 10px;
  width: 50vh;
  text-align: center;
  resize: none;
  height: 12vh;
  font-size: 1.5vw;
  border-radius: 2vh;
  text-transform: none;
  font-style: italic;
  padding: 1vw;
  margin-top: 3vw;
}

.topic-mood-dropdown {
  background-color: #edf0f4;
  box-shadow: -1px -1px 7px #f5f5f5, -5px -4px 17px #ffffff, 1px 2px 5px #a0b0c5,
    4px 6px 22px #c0cad8;
  font-size: 1.75vw;
  border-radius: 2vh;
  width: 20vw;
  height: 4vw;
  text-align: center;
  border: none;
  font-style: italic;
  color: #5a6794;
  cursor: pointer;
  margin-top: 3vw;
}

.topic-submit-button {
  border: none;
  border-radius: 40%;
  background-color: #edf0f4;
  box-shadow: -1px -1px 7px #f5f5f5, -5px -4px 17px #ffffff, 1px 2px 5px #a0b0c5,
    4px 6px 22px #c0cad8;
  font-size: 1.5vw;
  border-radius: 2vh;
  width: 15vw;
  height: 4vw;
  text-align: center;
  display: block;
  cursor: pointer;
  font-family: "Lato";
  font-style: italic;
  font-weight: bolder;
  color: #5a6794;
  cursor: pointer;
  margin-top: 3vw;
}
