#background-modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.home-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.home-square-button {
    background: #EDF0F4;
    box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
    border-radius: 10px;
    font-size: 1.25vw;
    border-radius: 4vh;
    width: 25vw;
    height: 7vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header {
    text-align: center;
    font-size: 1.75vw;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 950px) {
    .home-header {
        font-size: 4.5vw;
    }

    .home-square-button {
        width: 60vw;
        height: 11vh;
        font-size: 4vw;
        padding: 2vh;
    }
}