.chat-button {
    display: block;
    margin: auto;
    background: #EDF0F4;
    box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
    border-radius: 10px;
    width: 10vw;
    height: 3vw;
    text-transform: uppercase;
    margin-bottom: 3vh;
}