.nav-bar {
    display: flex;
    color: #a4a7ab;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 5vw;
}

.nav-bar div {
    font-size: 2.5vw;
    /* background: #EDF0F4;
    box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8; */
    border-radius: 10px;
    width: 5vw;
    height: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-profile-icon{
    animation-name: none;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.33);
        /* transform: scale(1.1); */
        color: #6e6e6e
    }
    100%{
         transform: scale(1);
    }
}



@media screen and (max-width: 950px) {
    .nav-bar div {
        font-size: 6vw;
        width: 10vw;
        height: 10vw;
    }

    .nav-bar {
        padding: 5vh 10vw;
    }
}

.nav-bar > div {
    cursor: pointer;
}