.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.square-button {
    background: #EEF0F4;
    border: none;
    border-radius: 40%;
    box-shadow: 2.55vh 2.55vh 2.88vh #D9DADE, -2.55vh -2.55vh 1.52vw #FFFFFF;
    font-size: 2vw;
    border-radius: 2vh;
    width: 10vw;
    height: 10vw;
    text-align: center;
}

.landing-title {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0.04em;
}