.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

.bottle-logo {
    display: block;
    margin: auto;
    margin-top: 5vh;
    width: 12vw;
    /* animation-name: bobble;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}

/* @keyframes bobble {
    from {
        top: 10vh;
    }

    to {
        top: 0vh;
    }
} */

.square-button {
    background: #EEF0F4;
    border: none;
    border-radius: 40%;
    box-shadow: 2.55vh 2.55vh 2.88vh #D9DADE, -2.55vh -2.55vh 1.52vw #FFFFFF;
    font-size: 1.5vw;
    border-radius: 2vh;
    width: 20vw;
    height: 5vw;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.landing-title {
    display: block;
    margin: auto;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 2vh;
}

.welcome-header {
    display: block;
    margin: auto;
    font-size: 2.25vw;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 8vh;
}

.welcome-message {
    text-align: center;
    font-size: 1.25vw;
    margin-top: 4vh;
    margin-left: 6vw;
    margin-right: 6vw;
    line-height: 5vh;
    color: #8794bf;
}