#user-modal-background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

#delete-user-modal {
    display: none;
    position: fixed;
    top: 25vh;
    left: 30vw;
    width: 40vw;
    height: 20vw;
    font-size: 2vw;
    background: #EDF0F4;
    border-radius: 2vw;
}

#close-delete-modal {
    display: block;
    text-align: right;
    padding: 3vh;
}

.delete-modal {
    display: block;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 0.03em;
    padding-top: 4vh;
}

.user-name {
        text-align: center;
        font-size: 1.75vw;
        letter-spacing: 0.03em;
        padding-bottom: 1vh;
}

.user-subtext {
    text-align: center;
    font-size: 0.85vw;
}

.user-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 58vh;
}

.user-square-button {
    background: #EDF0F4;
    box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
    border-radius: 10px;
    font-size: 1.25vw;
    border-radius: 2vh;
    width: 25vw;
    height: 6vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-user-button {
        display: block;
        margin: auto;
        color: rgb(178, 83, 83);
        background: #EDF0F4;
        box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
        border-radius: 10px;
        font-size: 1.1vw;
        border-radius: 2vh;
        width: 18vw;
        height: 5vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
}

.delete-button-container {
    background: #EDF0F4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh
}

.delete-square-button {
    background: #EDF0F4;
    box-shadow: -1px -1px 7px #F5F5F5, -5px -4px 17px #FFFFFF, 1px 2px 5px #A0B0C5, 4px 6px 22px #C0CAD8;
    border-radius: 10px;
    font-size: 1.25vw;
    border-radius: 2vh;
    width: 12vw;
    height: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-user {
    color: rgb(178, 83, 83);
}

.conf-body {
    background-color: pink;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}


/* all confessions */

.loading-container {
    height: 60vh;

}

/* show all confessions */
.user-conf-header {
    text-align: center;
    font-size: 2vw;
    padding-bottom: 1vh;
}

.mapped-conf {
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow-y: scroll;
    height: 65vh;
}

.listing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid lightgray;
}

#trash-icon {
    padding: 2vw;
}

/* conf-modal */
#delete-modal-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

#delete-conf-modal {
    display: block;
    position: fixed;
    top: 25vh;
    left: 30vw;
    width: 40vw;
    height: 20vw;
    font-size: 2vw;
    background: #EDF0F4;
    border-radius: 2vw;
    padding: 2.5vw;
}


@media screen and (max-width: 950px) {
    .user-name {
        font-size: 5vw;
    }

    .user-subtext {
        font-size: 2.5vw;
    }

    .user-square-button {
        width: 60vw;
        height: 9vh;
        font-size: 4vw;
        padding: 3vw;
    }

    .delete-user-button {
        font-size: 3vw;
        width: 30vw;
        height: 7vh;
    }

    .delete-modal {
        font-size: 4vw;
        padding-top: 1vh;
    }

    #close-delete-modal {
        font-size: 2vh;
    }

    #delete-user-modal {
        top: 35vh;
        left: 12vw;
        width: 75vw;
        height: 30vh;
    }

    .delete-square-button {
        width: 25vw;
        height: 5vh;
        font-size: 2.5vw;
    }

    .user-conf-header {
        font-size: 5vw;
    }

    .mapped-conf {
        font-size: 3vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    #trash-icon {
        padding: 5vw;
    }

    #delete-conf-modal {
        top: 35vh;
        left: 15vw;
        width: 70vw;
        height: 25vh;
    }
}

