/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #5a6794;
    margin: 0;
    padding: 0;
}

body {
      background: #D2DBEE;
}


.entire-container {
    background-color: white;
    max-width: 1280px;
    width: 40vw;
    height: 100vh;
    margin: auto;
    display: block;
    background: #EEF0F4;
    border-radius: 5%;
    box-shadow: inset 9.91px 9.91px 15px #BBBCC0, inset -9.91px -9.91px 15px #FFFFFF;

}

