#chat-messages {
  height: 42vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 1vw 2vw;
}

.chat-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-inner-container {
  margin-bottom: 1vw;
  background: #e2e8f0;
  border-radius: 12px;
  padding: 1vw 2vw;
}

.chat-message-user {
  color: #8794bf;
}

.chat-text {
  width: 30vw;
  font-size: 1.25vw;
  word-wrap: wrap;
  text-align: center;
  padding: 1vh;
  border-radius: 10px;
  border: none;
}

.chat-send-button {
  background: #edf0f4;
  box-shadow: -1px -1px 7px #f5f5f5, -5px -4px 17px #ffffff, 1px 2px 5px #a0b0c5,
    4px 6px 22px #c0cad8;
  border-radius: 10px;
  width: 6vw;
  height: 3vw;
  text-transform: uppercase;
}

.chat-message-text {
  margin-bottom: 1vw;
}


@media screen and (max-width: 950px) {

  .chat-send-button {
    width: 18vw;
    height: 12vw;
  }
  .chat-text {
    font-size: 3vw;
    width: 70vw;
    height: 30vw
  }
}
