.share-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.share-square-button {
    background: #EEF0F4;
    border: none;
    border-radius: 40%;
    box-shadow: 2.55vh 2.55vh 2.88vh #D9DADE, -2.55vh -2.55vh 1.52vw #FFFFFF;
    font-size: 1.25vw;
    border-radius: 2vh;
    width: 25vw;
    height: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-header {
    text-align: center;
    font-size: 1.75vw;
    letter-spacing: 0.03em;
    padding-top: 8vh;
}